.wrap {
  position: relative;
}
#octopus {
  margin-left:50%;
  margin-top: 200px;
}
#hat{
  position: absolute;
  margin-top:100px;
  margin-left: 49%
}
#glasses {
  position: absolute;
  margin-top: 300px;
  margin-left: 54%;
}